* {
  touch-action: manipulation;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p,
button,
h1,
.option {
  font-family: Bungee, fantasy;
}

p,
h1 {
  color: rgb(233, 232, 232);
}

.game-row,
.game-col,
.stack-block {
  display: flex;
}

.game-row {
  width: 100%;
}

.container {
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240);
}

.game-screen {
  background-color: rgb(48, 43, 43);
  overflow: hidden;
}

.game-row {
  flex-direction: row;
  position: absolute;
  height: 10%;
  min-height: 80;
  border-radius: 15px;
  width: 100%;
}

.game-col {
  flex-direction: column;
  width: 25%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.top-bar {
  justify-content: space-between;
  top: 0;
  height: 10%;
}

.clock {
  padding: 0 10;
}

.clock p {
  color: #2ae92a;
}

.bottom-bar {
  bottom: 0;
  height: 15%;
  background-color: rgba(240, 240, 240, 0.75);
  z-index: 1;
}

.start-screen {
  top: 30%;
  justify-content: center;
  z-index: 3;
}

.slider {
  top: 0;
  left: 100px;
  width: 65px;
  height: 6%;
  border-radius: 5px;
  background-color: gray;
}

.shadow {
  box-shadow: 1px 3px 7px rgb(150 150 150 / 25%);
}

.stack-block {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 3px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgb(40, 40, 40);
  background-color: rgb(150, 150, 150);
}

.stack-block-text {
  color: white;
  margin: 0;
}

.game-over-text {
  color: white;
  display: none;
}

.game-over {
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  z-index: 2;
}

.options {
  flex-direction: column;
  align-items: center;
}

.option {
  background-color: rgb(233, 232, 232);
  border-radius: 10px;
  border: 2px solid rgb(40, 40, 40);
}

.victory-message {
  margin: 0;
  color: gold;
  display: none;
}

.victory-details {
  margin: 0;
  color: white;
}

.letters {
  align-items: flex-end;
  margin-left: 20px;
}

.space {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.693);
  margin: 2px;
}

.letter {
  position: absolute;
  margin: 0;
  bottom: 0px;
  padding-bottom: 5px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  color: gold;
  font-size: larger;
}
